In [21]:
import pandas as pd
import numpy as np

In [22]:
chat=pd.read_csv('chat.csv')
ticker=pd.read_csv('final_merge.csv')

In [23]:
chat_arr=np.array(chat)

In [24]:
ticker_arr=np.array(ticker)

In [25]:
chat_arr[0][1]

'2022.10.16'

In [26]:
ticker_arr[0][2]

'20 Microns Limited'

In [27]:
res=pd.DataFrame()

In [28]:
def find(chat,company):
    for i in range(len(chat)):
        if(chat[i]==company):
            if company=='Adani':
                return 2
            elif company=='Tata':
                return 3
            else:
                return 1
    return 0

In [29]:
ticker_arr[0][1]

'20MICRONS'

In [30]:
for i in range((chat_arr.shape)[0]):
    ans=0
    flag=1
    for j in range((ticker_arr.shape)[0]):
        
        ans=find(chat_arr[i][2].split(),ticker_arr[j][1])
        if ans>0:
          data={"date":chat_arr[i][1],"headlines":chat_arr[i][2],"ticker":ticker_arr[j][1],"company":ticker_arr[j][2],}
          temp_df=pd.DataFrame(data,index=[i])
          res=res.append(temp_df)
          flag=0
          break
    if(flag==0):
      continue
    for j in range((ticker_arr.shape)[0]):
      var=ticker_arr[j][2].split()
      if var[0]=='Bank':
         ans=find(chat_arr[i][2].split(),(ticker_arr[j][2].split())[2])
      else:   
         ans=find(chat_arr[i][2].split(),(ticker_arr[j][2].split())[0])
      if ans==2:  
         ans=0                                                         
       
         for k in range((ticker_arr.shape)[0]):
            var=ticker_arr[k][2].split()
            if var[0]=='Adani':
               ans=ans=find(chat_arr[i][2].split(),var[1])
            if ans>0:
               data={"date":chat_arr[i][1],"headlines":chat_arr[i][2],"ticker":ticker_arr[k][1],"company":ticker_arr[k][2],}
               temp_df=pd.DataFrame(data,index=[i])
               res=res.append(temp_df)
               break
      elif ans==3:  
         ans=0                                                         
       
         for k in range((ticker_arr.shape)[0]):
            var=ticker_arr[k][2].split()
            if var[0]=='Tata':
               ans=ans=find(chat_arr[i][2].split(),var[1])
            if ans>0:
               data={"date":chat_arr[i][1],"headlines":chat_arr[i][2],"ticker":ticker_arr[k][1],"company":ticker_arr[k][2],}
               temp_df=pd.DataFrame(data,index=[i])
               res=res.append(temp_df)
               break

      elif ans>0:
        data={"date":chat_arr[i][1],"headlines":chat_arr[i][2],"ticker":ticker_arr[j][1],"company":ticker_arr[j][2],}
        temp_df=pd.DataFrame(data,index=[i])
        res=res.append(temp_df)

        break

In [31]:
res.shape

(506, 4)

In [32]:
res.head()

,date,headlines,ticker,company
2,2022.10.16,Government has so far transferred Rs 25 lakh c...,PFOCUS,Prime Focus Limited
3,2022.10.16,Prime Minister Narendra Modi launches 75 Digit...,PFOCUS,Prime Focus Limited
4,2022.10.16,IRDAI Increases Penalty On Max Life Insurance ...,AXISBANK,Axis Bank Limited
5,2022.10.16,GTPL Hathway reports Q2 earnings. (Consolidate...,HATHWAY,Hathway Cable & Datacom Limited
6,2022.10.16,Dilip Buildcon gets #project worth Rs 702.02 c...,DBL,Dilip Buildcon Limited

In [33]:
ans=(ticker_arr[j][2].split())[0]

In [34]:
type(ans)

str

In [35]:
ans=set(chat_arr[0][2].split()).intersection((ticker_arr[28][2].split())[0])

In [36]:
ans

{'a'}

In [37]:
ans=(chat_arr[4][2].split())

In [38]:
len(ticker_arr[28][2].split()[0])

6

In [39]:
if(ans[2]=='Bankbaroda'):
    print(y)

In [40]:
res.to_csv('identification.csv')